/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #303030;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Contenedor de la invitación */
  .invitacion {
    background-color: #9c85a3;
    color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
  }
  
  /* Títulos y párrafos */
  h1 {
    color: #f8ddff;
    font-size: 2rem;
  }
  
  .evento {
    font-size: 1.2rem;
    margin: 10px 0;
    color: #ffffff;
  }
  
  .detalles p {
    margin: 8px 0;
  }
  
  .mensaje {
    margin-top: 20px;
    font-size: 1rem;
    color: #ffffff;
  }
  
  /* Botón de confirmación */
  .rsvp {
    background-color: #e75480;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .rsvp:hover {
    background-color: #d1446c;
  }
  
